span {
  font-weight: 600;
}
.info-img {
  max-height: 30vh;
  object-fit: contain;
  padding: 10px;
}
.rating-content {
  display: inline;
}
.ion-text-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
