span{
    font-weight: 600;
}
.info-img{
    max-height: 30vh;
    object-fit: contain;
    padding: 10px;

}
.key-frames-animation{
    position :relative;
    animation: mymove 1s;
}
@keyframes mymove {
    from {transform: translateY(200px);}
    to {transform: translateY(0px);}
}
