ion-content .ion-title {
  z-index: 0;
  font-weight: 600;
}
ion-content span {
  font-weight: 600;
}
ion-content .key-frames-animation .info-img {
  max-height: 30vh;
  object-fit: contain;
  padding: 10px;
  animation: moveimg 1s;
}
ion-content .key-frames-animation .key-frames-animation {
  position: relative;
  animation: mymove 1s;
}
@keyframes moveimg {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes mymove {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0px);
  }
}
ion-content .key-frames-animation .ion-label-one {
  position: relative;
  animation: movetext 0.6s;
}
@keyframes movetext {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
ion-content .key-frames-animation .ion-label-two {
  position: relative;
  animation: movetext 0.8s;
}
@keyframes movetext {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
ion-content .key-frames-animation .ion-label-three {
  position: relative;
  animation: movetext 1s;
}
@keyframes movetext {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
