<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <!-- (size-md built in ionic to set size depending on resolution) offset md = medium size screen-->
        <ion-card>
          <ion-card-header>
            <ion-card-title style="text-align: center;"><p>Add Movie To Your Favourites</p></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item style="text-align: center;">
              <ion-input type="text" ></ion-input>
            </ion-item>
            <div margin-vertical text-center>
              <ion-button id="input-erase" color="danger">
                <ion-icon slot="start" name="close"></ion-icon
                >Erease</ion-button
              >
              <ion-button (click)="addItem()">
                <ion-icon slot="start"></ion-icon>Add favourite</ion-button
              >
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-md="6" offset-md="3" >
          <p style="text-align: center">Favourites: </p><span id="total-distance"></span>
          
        </ion-col>
        <ion-col size-md="6" offset-md="3">
          <ion-item ></ion-item>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
