<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <ion-text color="secondary">Home</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camera-content">
    <img src="assets/icon/film-negatives.png" />
    <!--For webbserver ~erho0008/www/assets/icon/film-negatives.png-->
    <!--
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>-->
  </div>
  <ion-text color="first">
    <div margin-horizontal text-center>
        <ion-button (click)="goToMovies()" >Search Movie</ion-button>
        <ion-button (click)="goToHelp()" >Help</ion-button>  
        <ion-button (click)="toggleDarkMode()" >Dark-Mode</ion-button> 
    </div>
  </ion-text>
</ion-content>
