@keyframes moveImg {
  from {
    transform: translatey(-200px);
  }
  to {
    transform: translatey(0px);
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  animation: moveImg 1.5s;
}
